<html>
<head lang="EN">
  <title>Duane's online Resume</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="heading">
                <h1>Duane's Online Resume</h1>
            </div>
            <nav class="nav-bar">
              <ul>
                <span><a href="/">Home</a></span>
                <span><a href="academic">Academic History</a></span>
                <span><a href="projects">Projects</a></span>
                <span><a href="experience">Work Experience</a></span>
              </ul>
            </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
        <div class="container">
            <p>Created by Duane &copy;</p>
        </div>
    </footer>
</body>
