<section class="course">
<div class="showcase">
  <div class="container">
    <h2>My Academic history</h2>
    <h3>Non Coding qualifications</h3>
    <div class="box">
      <div class="payroll">
        <p><strong>Payroll Administration</strong></p>
        <img src="images/payroll.jpg" width="150p" height="150px">
        <ul>
          <li>Payroll Administration</li>
          <li>Basic Software Training</li>
          <li>Advance Software Training</li>
          <li>Tax - The Basics</li>
          <li>Problem Solving Workshop</li>
        </ul>
      </div>
    </div>
    <div class="box">
      <div class="Free Code Camp">
        <p><strong>Front-End development</strong></p>
        <img src="images/freecodecamp.jpg" width="150p" height="150px">
        <ul>
          <li>Payroll Administration</li>
          <li>Basic Software Training</li>
          <li>Advance Software Training</li>
          <li>Tax - The Basics</li>
          <li>Problem Solving Workshop</li>
        </ul>
      </div>
    </div>
    <div class="box">
      <div class="The Odin Project">
        <p><strong>Front-End development</strong></p>
        <img src="images/theodinproject.png" width="150p" height="150px">
        <ul>
          <li>Payroll Administration</li>
          <li>Basic Software Training</li>
          <li>Advance Software Training</li>
          <li>Tax - The Basics</li>
          <li>Problem Solving Workshop</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
