<section class="section_1">
  <div class="container">
    <div class="showcase">
        <h1>Welcome to my page!</h1>
        <img src="/images/Duane.jpg" alt="Image of me" width="220" height="220">
        <span id="para1">Welcome to my online resume. This web page will provide you with everything you need to know about me.</span>
        <span id="para2">Should you wish to browse around click on my contact page, send me a message, and should I not think you are a stocker, I will send you an email with the login details.</span>
    </div>
  </div>
</section>
<aside>

</aside>
<section class="section_2">
  <div class="container">
    <div class="boxes">
    <h1>Programming Languages I know</h1>
    <div class="box">
        <h3>CSS</h3>
        <img src="images/logo_css.png" width="150px" height="150px">
    </div>
    <div class="box">
        <h3>HTML5</h3>
        <img src="images/logo_html.png" width="150px" height="150px">
    </div>
    <div class="box">
        <h3>Javascript</h3>
        <img src="images/logo_javascript2.png" width="150px" height="150px">
    </div>
    <div class="box">
        <h3>JQuery</h3>
        <img src="images/logo_jquery.png" width="150px" height="150px">
    </div>
    </div>
  </div>
</section>

</html>
